@import "compass"
@import "blueprint"

@import "./pygments"
@import "./functions"

+global-reset
+blueprint

html body
  -webkit-text-stroke: 1px transparent
  -webkit-background-clip: padding-box

  background: #f3f3f3 image-url("bg.jpg") top center
  color: #444
  font-family: "helvetica neue", helvetica, arial, sans-serif
  font-size: 93%
  padding: 2em 0

  div[role='container']
    +container

    a
      +link-colors(#3381B1)
      text-decoration: none
      
      &:hover
        text-decoration: underline

aside
  +column(8)
  +prevent-selection
  position: fixed
  overflow: scroll-y

  header
    margin-bottom: 1.75em

    h1#logo
      line-height: 1em
      margin: 0
      background: image-url('netsuke-small.png') no-repeat left center
      font-size: 2.5em
      font-weight: bold
      padding-left: 50px + 15px
      padding-top: 5px
      min-height: 45px
      
      a
        color: #444
        text-decoration: none !important
  
  ul:first-child
    padding-left: 84px
    
    ul
      font-size: 0.875em
      margin-bottom: 1em
      
      ul
        display: none

article
  +prepend(9)
  +column(15, true)

  padding:
    top: 5em

  h1
    font-size: 2em
    padding-top: 1.375em
    margin-bottom: 1em

  h2
    font-size: 1.5em
    padding-top: 2em
    margin-top: -1em
    border-bottom: 1px #ddd solid

  h3
    font-size: 1.25em

  p
    &:first-child
      font-size: 1.25em
      font-weight: bold
      
  code
    color: #575A5F

  .highlight, pre
    +border-radius(5px)
    background: #2a2a2a
    color: #ddd
    padding: 1em
      bottom: 0
    margin-bottom: 2em

    pre
      margin: 0
      overflow: scroll
    
    code
      color: #ddd
      overflow: scroll
      