%figure.illustration.netsuke

%hgroup
  %h1 Postgres.app
  %h2 the easiest way to run PostgreSQL on the Mac
  
%button.download{:onclick => "window.location.href='/download'"}
  Download the Latest Beta
  
%span.errata
  Coming Soon to the Mac App Store
