- content_for :header do
  .hero-unit
    %hgroup
      %h1 Postgres.app
      %h2 the easiest way to run PostgreSQL on the Mac

    %button.download{:onclick => "window.location.href='/download'"}
      %mark.symbol ⬇
      %span Download the Latest Version

    .errata
      %span.postgres-version= "Postgres #{version}"
      %span.mac-os-x-version Requires Mac OS X 10.7 or above


%section#installation
  .step-1
    :markdown
      # Install the App

      [Download the latest version](/download), unarchive the resulting zip file, & drag-and-drop **Postgres.app** to your **Applications** folder.

  .step-2
    :markdown
      # Double Click

      Simply **double-click** to launch the app. **Postgres.app runs in the menubar** (look for the tiny elephant at the top of your screen).

  .step-3
    :markdown
      # Enjoy!

      And that's it! You're now running [PostgreSQL](http://www.postgresql.org), _the world's most advanced open source database_.
