!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title= ["Postgres.app", @title || "the easiest way to run PostgreSQL on the Mac"].join(" | ")
    %meta{name: "author", content: "Mattt Thompson"}
    %meta{name: "description", content: "Postgres.app is the easiest way to get started with PostgreSQL on the Mac. Open the app, and you have a PostgreSQL server ready and awaiting new connections. Close the app, and the server shuts down."}
    %link{rel: "license", href: "http://www.opensource.org/licenses/postgresql", title: "PostgreSQL License"}
    %link{rel: "stylesheet", href: "/css/screen.css", type: 'text/css', media: "screen", charset: "utf-8"}
    
    %meta{property: "og:title", content: "Postgres.app"}
    %meta{property: "og:url", content: "http://postgresapp.com"}
    %meta{property: "og:image",  content: "http://postgresapp.com/images/netsuke.png"}
    %meta{property: "og:site_name", content: "Postgres.app"}
    %meta{property: "og:description", content: "The easiest way to run PostgreSQL on the Mac"}

  %body{'data-spy' => "scroll", 'data-target' => "nav"}
    %header
      %nav
        %div{role: 'container'}
          %a#logo{href: '/'} Postgres.app

          %ul
            %li 
              %a{href: '/documentation'} Documentation

      = yield_content :header

    %div{role: 'container'}
      = yield

    %footer
      %div{role: 'container'}
        :markdown
          Created by [Mattt Thompson](http://mattt.me/) & supported by [Heroku Postgres](http://postgres.heroku.com)

        .share
          :plain
            <iframe src="http://ghbtns.com/github-btn.html?user=mattt&repo=postgresapp&type=watch&count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="94" height="20"></iframe>

          :plain
            <iframe src="http://ghbtns.com/github-btn.html?user=mattt&type=follow"
          allowtransparency="true" frameborder="0" scrolling="0" width="116" height="20"></iframe>

          :plain
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://postgresapp.com" data-via="PostgresApp">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

          :plain
            <a href="https://twitter.com/PostgresApp" class="twitter-follow-button" data-show-count="false">Follow @PostgresApp</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
